<div class="card">
    <h3 style="text-align: center; color: #ee6e73;"><i class="fa fa-vcard-o"
            style="font-size:36px; margin-right: 10px;"></i>Users</h3>
    <hr>
    <div class="columns" class="columns" *ngIf="user.length > 0; else noUsers">
        <table class="striped">
            <thead>
                <tr style="background-color: #f18b8f; color: white;">
                    <th>Name</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>

            <tbody *ngFor="let u of user; index as i;">
                <tr>
                    <td>{{user[i].name}}</td>
                    <td>{{user[i].username}}</td>
                    <td appHighlight>{{user[i].email}}</td>
                    <td><i class="fa fa-trash" style="font-size:24px; color: #d50000; cursor: pointer;" (click)="deleteUser(i)"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
    <ng-template #noUsers>
        <div class="columns">
            <div class="column">
                <h5 style="text-align: center; color: #f44336;" class="no-users tag">No Users Available.</h5>
            </div>
        </div>
    </ng-template>

</div>